
body{
    background-color: #F3F5FC;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    max-width: 1100px;
}

header{
    position: absolute;
}

ul{
    text-align: right;
    padding: 20px;
}

li{
    display: inline-block;
    text-align: left;
    border-radius: 20px;
}


.entrada{
    width: 620px;
    height:630px;
    background-color: #F3F5FC;
    text-align: center;

}

.entrada textarea{
    color: #0A3871;
    font-size: xx-large;
    background-color: #F3F5FC;
}

.salida{
    width: 300px;
    height: 700px;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    
}

.salida img{
    padding-top: 17em;
    padding-bottom: 1em;
}

.salida p{
    padding-bottom: 0em;
}

#container-salida{
    display: none;
}

.salida textarea{
    font-size: larger;
}

textarea {
    margin-top: 1em;
    resize:none;
    border:none;
    width: 90%;
    height: 88%;
}

button{
    cursor: pointer;
}

.entrada button{
    background-color: #0A3871;
    color:white;
    width: 45%;
    height: 3.5em;
    border-radius: 10px;
}

.entrada button:hover{
    background-color: #072B61;
}

#btn-decifrar{
    background-color: #F3F5FC;
    border: solid #0A3871;
    color: #0A3871;
}

#btn-decifrar:hover{
    background-color: #E9ECF8;
}

.salida button {
    background-color: #0A3871;
    color:white;
    width: 90%;
    height: 3.5em;
    background-color: white;
    border-radius: 10px;
    border: solid #0A3871;
    color: #0A3871;
}

.salida button:hover{
    background-color: #EFF1FA;
}

footer{
    text-align: right;
    padding-right: 20px;
}

@media screen and (max-width:980px){
    li{
        display: block;
        text-align: left;
        border-radius: 20px;
    }

    .entrada{
        padding-top: 2em;
        width: 100%;
        height:630px;
        background-color: #F3F5FC;
        text-align: center;
    
    }

    #li-salida{
        padding-top: 2.5em;
    }
    
    .salida{
        width: 100%;
        height: auto;
        
    }

    .salida img{
        display: none;
    }
    
    .salida h2{
        padding-top: .5em;
    }

    .salida p{
        padding-bottom: 1em;
    }

    .salida textarea{
        margin-top: 2em;
        height: 10em;
    }

    .salida button{
        margin-bottom: 2em;
    }
}

@media screen and (max-width:480px){
    .entrada button{
        margin-bottom: 1em;
        display: block;
        width: 100%;
    }

    #li-salida{
        padding-top: 5em;
    }

    .salida{
        width: 100%;
    }
    
}